.bodyclass {
    background-color: #D1D8C5;
}

.h1class {
    font-size: 50px;
    color: #254336;
}

.h4class {
    color: #254336;
}

.h2class {
    color: #254336;
}

.pro {
    text-decoration: underline;

}

.py-3 {
    background-color: #B7B597;
}

.nav {
    color: white;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}